.my_image_div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 15px;
  gap: 15px;
  border: black line 2px;
}

.my_image {
  border-radius: 50px;
  max-width: 100%;
  height: auto;
}

.text-content {
  flex: 1;
  border: black line 2px;
}

@media (max-width: 768px) {
  .my_image_div {
    flex-direction: column;
    align-items: center;
    border: black line 2px;
  }
  
  .text-content {
    text-align: center;
    border: black line 2px;
  }
}

.education_grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 20px;
  margin-bottom: 10px;
}

.work_experience_grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 20px;
  
}

.grid_picture {
  display: grid;
  justify-items: center;
  align-items: start;
}

.skills_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  place-items: center;
}

